<h2>Product Details</h2>

<hr/>
<div *ngIf="product">
  <div>
    <label><b>First Name: </b></label> {{product.name}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{product.details}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{product.price}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to products List</button><br>


