<h3>Create Product</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Details</label>
      <input type="text" class="form-control" id="details" required [(ngModel)]="product.details" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Price</label>
      <input type="text" class="form-control" id="price" required [(ngModel)]="product.price" name="emailId">
    </div>

    <div class="form-group">
      <label for="name">Manufacturing Date</label>
      <input type="text" class="form-control" id="manufacturingDate" required [(ngModel)]="product.manufacturingDate" name="emailId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
