<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Products List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Details</th>
          <th>Price</th>
          <th>ManufacturingDate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async">
          <td>{{product.name}}</td>
          <td>{{product.details}}</td>
          <td>{{product.price}}</td>
          <td>{{product.manufacturingDate}}</td>
          <td>
              <button (click)="productDetails(product.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

